.product {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.8rem;
    background: #cac5c5;
    margin: 1rem;
    color: #252525;
    border-radius: 1rem;
}


.mt {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.btn {
    margin: 20px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgba(15, 8, 224, 0.876);
    width: 80px;
    height: 40px;
    color: rgba(15, 8, 224, 0.876);
    font-size: 1.2rem;
    background: transparent;
    transition: .4s ease-in;
}

.btn:hover {
    background: rgba(15, 8, 224, 0.876);
    color: rgb(232, 232, 232);
}