*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
}


.row {
    display: flex;
    justify-content: center;
    width: 1000px;
}


@media(max-width:1036px) {
    .row {
        margin-top: 50px;
        flex-wrap: wrap;
    }

}

.col {
    padding: 1rem;
}

.btn {
    margin: 20px;
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid rgba(15, 8, 224, 0.876);
    width: 80px;
    height: 40px;
    color: rgba(15, 8, 224, 0.876);
    font-size: 1.2rem;
    background: transparent;
    transition: .4s ease-in;
    cursor: pointer;
}

.btn:hover {
    background: rgba(15, 8, 224, 0.876);
    color: rgb(232, 232, 232);
}